<div class="container header-space">
  <br>
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">
      <img id="welcome-img" src="http://brandswithfansblog.fandommarketing.com/files/2014/01/app-explosion_420x470.jpg" alt="Welcome"><br>
      Various demo apps using Angular.
    </p>
    <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
  </div>

  <div class="row marketing">
    <h4>Reddit Hack</h4>
    <p>
      Pulls in /r/funny reddit posts as seed data and allows you to add your own posts to the collection.
    </p>

    <h4>OMDb Search</h4>
    <p>
      Basic movie title search returning results and then a few details when selecting a given movie.
    </p>

    <h4>Buy Tea</h4>
    <p>Shop for tea and add it to a shopping car.</p>
  </div>
</div>
