<div class="container">
  <h1 class="text-center header-space">OMdb Movie Search</h1>
  <hr>
  <form name="movieSearchForm">
    <fieldset class="text-center">
      <label class="" for="search">Enter a movie by title</label>
      <br>
      <input type="text" required ng-model="omdb.searchInput" required name="search" value="" placeholder="Matrix">
      <button type="submit" ng-disabled="movieSearchForm.$invalid" ng-click="omdb.titleSearch(omdb.searchInput, movieSearchForm)" class="btn btn-primary">Search</button>
    </fieldset>
  </form>
</div>
<br>
<div class="">
  <ul>
    <li ng-repeat="movie in omdb.searchResults" >{{movie.Title}}</li>
  </ul>
</div>
