<div class="flex-page header-space">
  <div class="OnePcWd">
    <h1 class="text-center">Lets Shop for Tea!</h1>
    <hr>
    <div class="col-lg-10 search-flex well">
      <div class="">
        <label class="" for="cat-search">Filter by catagory:</label>
        <select name="cat-search" ng-model="shopping.allCat.categories">
          <option value="">All</option>
          <option ng-repeat="cat in shopping.catFilter" value="{{cat}}">{{cat}}</option>
        </select>
      </div>
      <div class="">
        <label for="search">Search by name:</label>
        <input type="text" name="search" placeholder="Search" ng-model="shopping.query">
      </div>
      <div class="">
        <label class="" for="sort">Sort by:</label>
        <select ng-model="shopping.defaultSortOrder" name="sort">
          <option ng-repeat="type in shopping.sortorder" value="{{type.sort}}">{{type.name}}</option>
        </select>
      </div>
      <button class="btn btn-danger" type="button" name="checkout" ng-click="shopping.checkout()">Checkout | Bag: {{shopping.bagItemCount}}</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Tea</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tea in shopping.teaData | orderBy:shopping.defaultSortOrder | filter:shopping.allCat | filter:shopping.query">
        <td><img ng-src="{{tea.imageUrl}}" alt="" /></td>
        <td>
          <div class="search-flex">
            <h3>{{tea.name}}</h3>
            <div class="">
              <h3>
                Quantity:
                <select name="quantity" ng-model="tea.quantity">
                  <option ng-repeat="num in shopping.quantity" value="{{num}}">{{num}}</option>
                </select>
                <button class="btn btn-warning" type="button" name="add-to-bag" ng-click="shopping.addToBag(tea)">Add to Bag</button>
              </h3>
            </div>
          </div>
          <p><b>Price:</b> {{tea.price | currency:"$":2}}</p>
          <p><b>Caffeine Scale:</b> {{tea.caffeineScale}}</p>
          <p><b>Ingredients:</b> {{tea.ingredients}}</p>
          <p><b>Rating:</b> {{tea.rating}}</p>
          <p><b>In Stock:</b> {{tea.inStock | inStock}}</p>
          <p><b>Categories:</b>
            <ul>
              <li ng-repeat="cat in tea.categories">{{cat}}</li>
            </ul>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
